node_modules
.env
test.txt
todo.txt
.prettierrc
documents
.env.production

# public/uploads/
utils/laani-saudi-firebase-adminsdk-fbsvc-dfa6252a6f-vendor.json
utils/laani-saudi-firebase-adminsdk-fbsvc-a4349b10d1-user.json
utils/laani-saudi-firebase-adminsdk-fbsvc-c5e8c62bd3-staff.json