<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
     <!-- Document Meta -->
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="author" content="Laani Saudi" />
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <meta name="description" content="Loyalty App">
     <link href="/assets/images/favicon/favicon.ico" rel="icon">

     <!-- Fonts -->
     <link href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800'
          rel='stylesheet' type='text/css'>

     <!-- Stylesheets -->
     <link href="/assets/css/external.css" rel="stylesheet">
     <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
     <link href="/assets/css/style.css" rel="stylesheet">

     <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

     <title>
          <%= title || 'Privacy policy' %>
     </title>
</head>

<body class="body-scroll">
     <div id="wrapper" class="wrapper clearfix">

          <!-- Header -->
          <header id="navbar-spy" class="header header-1 header-transparent header-bordered header-fixed">
               <nav id="primary-menu" class="navbar navbar-fixed-top">
                    <div class="container">
                         <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                   data-target="#navbar-collapse-1" aria-expanded="false">
                                   <span class="sr-only">Toggle navigation</span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                              </button>
                              <a class="logo" href="/">
                                   <img class="logo-dark" src="/assets/images/logo/logo-dark.png" alt="Logo">
                                   <img class="logo-light" src="/assets/images/logo/logo-light.png" alt="Logo">
                              </a>
                         </div>
                         <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                              <ul class="nav navbar-nav nav-pos-right navbar-left nav-split">
                                   <!-- <li><a data-scroll="scrollTo" href="/">home</a></li>
                                   <li><a data-scroll="scrollTo" href="/#feature2">feature</a></li>
                                   <li><a data-scroll="scrollTo" href="/#screenshots">screenshots</a></li>
                                   <li><a data-scroll="scrollTo" href="#cta">download</a></li>
                                   <li><a data-scroll="scrollTo" href="/terms">Terms</a></li> -->
                                   <!-- <li class="active"><a data-scroll="scrollTo" href="/policy">Policy</a></li> -->
                                   <!-- <li><a data-scroll="scrollTo" href="/Index2.html">عربي</a></li> -->
                              </ul>
                         </div>
                    </div>
               </nav>
          </header>

          <!-- Slider -->
          <section id="slider" class="section slider slider-2 title-container">
               <div class="slide--item bg-overlay bg-overlay-dark">
                    <div class="bg-section">
                         <img src="/assets/images/background/bg-1.jpg" alt="background">
                    </div>
                    <div class="container">
                         <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                   <div class="slide--logo mt-80 hidden-xs wow fadeInUp" data-wow-duration="1s">
                                        <img src="/assets/images/logo/logo-light.png" alt="logo hero">
                                   </div>
                              </div>
                         </div>
                         <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 text-center pt-100 wow fadeInUp"
                                   data-wow-duration="1s">
                                   <div class="slide--headline">
                                        <h1>Privacy policy</h1>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <!-- Feature Section -->
          <section class="section feature feature-2 bg-light">
               <div class="container">
                    <div class="row clearfix">
                         <div class="col-xs-12 col-sm-12 col-md-12">
                             <p>
                              1. Information We Collect
                              a. Personal Information
                              We may collect the following personal information:

                              Name

                              Email address

                              Phone number

                              Profile information

                              b. Usage Data
                              We may automatically collect data related to your usage of the App, such as:

                              Device information

                              IP address

                              App usage and interaction data

                              Location data (if enabled)

                              c. Cookies & Tracking
                              We may use cookies or similar tracking technologies to enhance your experience and analyze usage.

                              2. How We Use Your Information
                              We use the collected information to:

                              Provide, operate, and maintain the App

                              Improve the App and user experience

                              Communicate with you

                              Send updates, marketing, or promotional content (if opted in)

                              Ensure security and prevent fraud

                              3. Sharing of Information
                              We do not sell or rent your personal information. However, we may share it with:

                              Service Providers: To help us run and improve the App

                              Legal Authorities: If required by law or in response to legal requests

                              Business Transfers: In case of a merger, acquisition, or sale of assets

                              4. Data Security
                              We implement appropriate security measures to protect your personal data. However, no electronic transmission or storage
                              is 100% secure, and we cannot guarantee absolute security.

                              5. Your Rights and Choices
                              Depending on your location, you may have rights to:

                              Access or correct your personal information

                              Delete your data

                              Withdraw consent or object to data processing

                              Opt-out of marketing communications

                              To exercise your rights, please contact us at [laaniksa@gmail.com].
                             </p>
                         </div>
                    </div>
               </div>
          </section>

          <!-- CTA -->
          <!-- <section id="cta" class="section cta text-center pb-0">
               <div class="container">
                    <div class="row clearfix">
                         <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                              <div class="heading heading-1 mb-50 text--center wow fadeInUp" data-wow-duration="1s">
                                   <h2 class="heading--title">Download & install app now</h2>
                              </div>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xs-12 col-sm-12 col-md-12 mb-100 wow fadeInUp" data-wow-duration="1s">
                              <a class="btn-hover comingsoon" href="#">Coming Soon</a>
                         </div>
                         <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" data-wow-duration="1s">
                              <img src="/assets/images/mockup/2-layers.png" alt="mockup" />
                         </div>
                    </div>
               </div>
          </section> -->



          <!-- Footer -->
          <!-- <footer id="footer" class="footer footer-5">
               <div class="container">
                    <div class="row">
                         <div class="col-xs-12 col-sm-12 col-md-12 text--center">
                              <div class="footer--copyright">
                                   <span>Copyright © <%= new Date().getFullYear() %> - All rights reserved</span>
                              </div>
                         </div>
                    </div>
               </div>
          </footer> -->

     </div>

     <!-- Scripts -->
     <script src="/assets/js/jquery-2.2.4.min.js"></script>
     <script src="/assets/js/plugins.js"></script>
     <script src="/assets/js/functions.js"></script>
</body>

</html>